# Fichiers de bytecode Python
__pycache__/
*.py[cod]

# Fichiers de packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# Fichiers de configuration de l'environnement virtuel
.env
.venv/
*.pyc

# Fichiers de base de données SQLite
*.sqlite

# Fichiers de l'éditeur
.vscode/
.idea/
*.swp
*~
